.CardView {
  border-color: black;
  border-width: 0.125em;
  border-style: solid;
  width:        8em;
  height:       8em;
}

.CardView > h1 {
  font-size: 1em;
}

.CardView > .SuitBlack {
  color: black;
}

.CardView > .SuitRed {
  color: red;
}
